*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

h1,
h2 {
  font-family: Oswald, "Franklin Gothic Medium", sans-serif;
  font-weight: 700;
}

ul,
ol {
  list-style: none;
}

::placeholder {
  color: rgba(255, 255, 255, 0,7);
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.content {
  display: grid;
  grid-template: 1fr / 710px 1fr;
  grid-template-areas:
  "result details";
  width: 1140px;
  column-gap: 30px;
  align-items: end;
}

.result {
  grid-area: result;
}

.result__video-container {
  position: relative;
  width: 712px;
  height: 386px;
  margin-bottom: 16px;

}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset:nth-child(1) {
  width: 226px;
}

.search-form__fieldset:nth-child(2) {
  align-self: start;
  width: 212px;
}

.search-form__fieldset-title {
  margin-bottom: 6px;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
}

.search-form__textfield {
  appearance: none;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  width: 226px;
  padding: 4px 0;
  color: #fff;
  background-color: transparent;
  outline: none;
  font-family: inherit;
  font-size: inherit;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__checkbox-list {
  display: flex;
  gap: 14px;
}

.search-form__label {
  position: relative;
  display: flex;
  align-items: center;
  gap: 6px;
  width: fit-content;
  padding: 2px;
  outline: none;
}

.search-form__label:hover {
  cursor: url(../images/pointer.svg), pointer; 
  text-decoration-line: underline;
  text-decoration-skip-ink: none;
  text-underline-offset: 2px;
  text-decoration-thickness: 1px;
}

.search-form__label:has(:focus-visible)  {
  outline: 2px solid #fff;
}

.search-form__pseudo-checkbox {
  display: flex;
  border: 1px solid #fff;
  padding: 1px;
  width: 20px;
  height: 20px;
}

.search-form__pseudo-checkbox::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color:  #fff;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.button {
  border: 1px solid #fff;
  background-color: transparent;
  color: inherit;
  font-family: inherit;
  font-weight: 700;
  font-size: inherit;
}

.button:focus {
  outline: none;
}

.button:hover {
  cursor: url(../images/pointer.svg), pointer; 
  text-decoration-line: underline;
  text-underline-offset: 2px;
  text-decoration-thickness: 1px;
}

.button:active {
  background-color: #545050;
  text-decoration: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
}

.content__details {
  grid-area: details;
  width: 100%;
  height: 100%;
}

.title {
  font-size: 75px;
  margin-bottom: 26px;
  text-transform: uppercase;
  line-height: 94%;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  position: relative;
  overflow-y: scroll;
  height: 298px;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list:nth-child(1) {
  padding-top: 3px;
}

.content__list-item {
  display: block;
  padding: 0 3px;
}

.content__list-item:hover {
  text-decoration-line: underline;
  text-decoration-skip-ink: none;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
}

.content__list-item:focus {
  appearance: none;
  outline: none;
}

.content__list-item:focus-visible {
  outline: 1px solid #fff;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #fff;
}

.content__video-card {
  width: 100%;
  display: flex;
  align-items: start;
}

.content__video-card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  width: 196px;
  white-space: nowrap;
  font-size: 30px;
  line-height: 100%;
  padding-bottom: 2px;
  margin-bottom: 4px;
}

.content__video-card-description {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  line-height: 16px;
  height: 64px;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 104px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.more-button {
  width: 390px;
  height: 34px;
  margin: 2px;
  margin-top: 30px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
} 
